<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Ditto</string>
	<key>CFBundleDisplayName</key>
	<string>Ditto</string>
	<key>CFBundleExecutable</key>
	<string>Ditto</string>
	<key>CFBundleIdentifier</key>
	<string>io.ditto.DittoMac</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.25.113</string>
	<key>CFBundleVersion</key>
	<string>3.25.113.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Ditto is released under the GNU General Public License.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<false/>
	<key>NSSupportsSuddenTermination</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>Ditto needs to control other applications so it can paste the clip you pick into the window you were last using.</string>
</dict>
</plist>
